@using BookVerse.Models;
@model Book;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="#">
</head>
<body>
    <a href="/Panel/Library">Go to Page 2</a>
    @*    <h1>@Model.Title</h1>
        <p>Author(-s): @Model.Authors</p>
        <img src="@Model.Formats["image/jpeg"]" alt="Book Cover">
        <p>Description: @Model.Description</p>*@

    <script>
 /*       var goBackButton = document.getElementById("goBackButton");

    goBackButton.addEventListener("click", function () {
        window.history.back();
    });*/
    </script>
</body>
</html>
