<div id="collections-details" style="display: none;">
    <label for="collection-select">Select a Collection</label>
    <select id="collection-select"></select>

    <button type="button" class="add-book" onclick="addBookToCollection()">Add Book</button>
    <button class="close" type="button" onclick="closeCollectionsDetails()"></button>
</div>