@using BookVerse.Models
@model User

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Collection Builder</title>
    <link href="/css/user-css/collection-builder.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Create a New Collection</h1>

        <div class="form-group">
            <label for="title">Collection Title:</label>
            <input type="text" id="title" name="title" required>
        </div>

        <!-- Hidden input field to store user ID -->
        <input type="hidden" id="userId" name="userId" value="@Model.Id">

        <button type="button" onclick="createCollection()">Create Collection</button>
    </div>
    <script>
        async function createCollection() {
            const Title = document.getElementById('title').value;
            const UserId = document.getElementById('userId').value;
            const data = JSON.stringify({ title: Title, userId: UserId});

            try {
                const response = await fetch('/api/collection', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: data
                });

                if (!response.ok) {
                    alert("Failed to create the Collection.");
                } else {
                    alert("The Collection was created!");
                }
            } catch (error) {
                console.error("An error occurred:", error);
            }
        }
    </script>
</body>
</html>
