@using BookVerse.Models
@model User

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="/css/user-css/library.css" rel="stylesheet">
    <link href="/css/user-css/collections.css" rel="stylesheet">
    <link href="/css/user-css/book-details.css" rel="stylesheet" />
}

<!-- Common Elements -->
<input type="hidden" id="userId" name="userId" value="@Model.Id">
<div id="notification" style="display: none;"></div>

<div id="content-container">
    <div class="header">
        <select id="collection-select"></select>

        <div class="icon">
            <div class="account">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="User Avatar">
                <h4>@Model.Name</h4>
            </div>
        </div>
    </div>
    <div class="letter-filters">
        @for (char letter = 'A'; letter <= 'Z'; letter++)
        {
        <div class="letter-filter" letter="@letter" style="display: none;">@letter</div>
        <ul id="book-list">
            @*Books will dynamically appear here**@
        </ul>
        }
    </div>
    @*Add other section*@
</div>

@{
    ViewData["IsCollectionsPage"] = "true"; // Use the same key "IsCollectionsPage"
}

@*Details about a specific book*@
@await Html.PartialAsync("BookDetailsPartial")

@section Scripts {
    <script src="~/js/user-panel/bookDetails.js"></script>
    <script src="~/js/user-panel/collections.js"></script>
}