@using BookVerse.Models;
@model User;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="/css/user-css/library.css" rel="stylesheet" >
    <link href="/css/user-css/book-details.css" rel="stylesheet" />
</head>
<body>
    <div id="content-container">
        <div class="header">
            <div class="search_box">
                <input type="text" placeholder="Search..">
                <i class='bx bx-search-alt-2'></i>
            </div>

            <div class="header-icons">
                <div class="account">
                    @**@
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="">
                    <h4>@Model.Name</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Popular</a></li>
                    <li><a href="#">Classics</a></li>
                    <li><a href="#">Fantasy</a></li>
                    <li><a href="#">Romance</a></li>
                    <li><a href="#">Mystery</a></li>
                </ul>
            </nav>
        </div>
        <section>
            <div class="content-container">
                <ul class="book-set">
                    <li class="book-heading" data-category="Popular">Popular</li>
                </ul>
                <button id="nextPopularButton" data-page="1">Next</button>

                <ul class="book-set">
                    <li class="book-heading" data-category="Classic">Classics</li>
                </ul>
                <button id="nextClassicsButton" data-page="1">Next</button>

                <ul class="book-set">
                    <li class="book-heading" data-category="Fantasy">Fantasy</li>
                </ul>
                <button id="nextFantasyButton" data-page="1">Next</button>

                <ul class="book-set">
                    <li class="book-heading" data-category="Romance">Romance</li>
                </ul>
                <button id="nextRomanceButton" data-page="1">Next</button>

                <ul class="book-set">
                    <li class="book-heading" data-category="Mystery">Mystery</li>
                </ul>
                <button id="nextMysteryButton" data-page="1">Next</button>
            </div>
        </section>
    </div>

    @*Details about a specific book*@
    <div id="book-details" style="display: none;">
        <div class="book-header">
            <img src="#" alt="Book Cover" id="book-image" />
            <div class="book-info">
                <h1 id="book-title"></h1>
                <p id="book-author"></p>
                <p><strong>Subjects:</strong> <span id="book-subjects"></span></p>
                <p><strong>Bookshelves:</strong> <span id="book-bookshelves"></span></p>
                <p><strong>Language(s):</strong> <span id="book-languages"></span></p>

                <a href="#" id="book-content" target="_blank">
                    <input type="button" value="Read" />
                </a>
            </div>
        </div>
        <section>
            <h3>Description:</h3>
            <p id="book-description"></p>
        </section>
        <button class="close" type="button" onclick="closeBookDetails()"></button>
    </div>
    <script src="~/js/user-panel/library.js"></script>
    <script src="~/js/user-panel/bookDetails.js"></script>
</body>
</html>
