@using BookVerse.Models;
@model User;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Books</title>
    <link href="/css/user-css/library.css" rel="stylesheet" />
    <link href="/css/user-css/book-details.css" rel="stylesheet" />
    <link href="/css/user-css/collections-details.css" rel="stylesheet" />
    <link href="/css/user-css/search.css" rel="stylesheet" />
</head>
<body>
    <div id="backdrop"></div>
    <div id="notification" style="display: none;"></div>

    <!-- Hidden input field to store user ID -->
    <input type="hidden" id="userId" name="userId" value="@Model.Id">

    <div id="content-container">
        <div class="header">
            <div class="search_box">
                <input type="text" id="searchInput" placeholder="Quick Search" required>
                <i id="search-icon" class='bx bx-search-alt-2'></i>
            </div>

            <div class="header-icons">
                <div class="account">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="">
                    <h4>@Model.Name</h4>
                </div>
            </div>
        </div>
        <div>
            <h2 class="book-heading" data-category="search-books">
                Books: <span id="searchTermPlaceholder"></span> (sorted by popularity)
            </h2>
            <p id="message"></p>
            <ul class="book-set" id="book-set"></ul>
        </div>

        <!-- Container for the nextButton -->
        <div id="Buttons"></div>
    </div>

    @*Details about a specific book*@
    <div id="book-details" style="display: none;">
        <div class="book-header">
            <img src="" alt="Book Cover" id="book-image" />
            <div class="book-info">
                <p id="book-id" hidden></p>
                <h1 id="book-title"></h1>
                <p id="book-author"></p>
                <p><strong>Subjects:</strong> <span id="book-subjects"></span></p>
                <p><strong>Bookshelves:</strong> <span id="book-bookshelves"></span></p>
                <p><strong>Language(s):</strong> <span id="book-languages"></span></p>

                <a href="#" id="book-content" target="_blank">
                    <input type="button" value="Read" />
                </a>

                <button type="button" onclick="PickCollection()" id="add-to-collection">Add to Collection</button>
            </div>
        </div>
        <section>
            <h3>Description:</h3>
            <p id="book-description"></p>
        </section>
        <button class="close" type="button" onclick="closeBookDetails()"></button>
    </div>

    @*Details about collections*@
    <div id="collections-details" style="display: none;">
        <label for="collection-select">Select a Collection</label>
        <select id="collection-select"></select>

        <button type="button" class="add-book" onclick="addBookToCollection()">Add Book</button>
        <button class="close" type="button" onclick="closeCollectionsDetails()"></button>
    </div>

    <script src="~/js/user-panel/library.js"></script>
    <script src="~/js/user-panel/bookDetails.js"></script>
    <script src="~/js/user-panel/collections.js"></script>
    <script src="~/js/user-panel/search.js"></script>
</body>
</html>
