@using BookVerse.Models;
@model User;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="/css/user-css/library.css" rel="stylesheet" />
    <link href="/css/user-css/book-details.css" rel="stylesheet" />
    <link href="/css/user-css/collections-details.css" rel="stylesheet" />
    <link href="/css/user-css/search.css" rel="stylesheet" />
}

<!-- Common Elements -->
<input type="hidden" id="userId" name="userId" value="@Model.Id">
<div id="backdrop"></div>
<div id="notification" style="display: none;"></div>

<div id="content-container">
    <div class="header">
        <div class="search_box">
            <input type="text" id="searchInput" placeholder="Quick Search" required>
            <i id="search-icon" class='bx bx-search-alt-2'></i>
        </div>

        <div class="header-icons">
            <div class="account">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="">
                <h4>@Model.Name</h4>
            </div>
        </div>
    </div>
    <div>
        <h2 class="book-heading" data-category="search-books">
            Books: <span id="searchTermPlaceholder"></span> (sorted by popularity)
        </h2>
        <p id="message"></p>
        <ul class="book-set" id="book-set"></ul>
    </div>

    <!-- Container for the nextButton -->
    <div id="Buttons"></div>
</div>

@*Details about a specific book*@
@await Html.PartialAsync("BookDetailsPartial")

@*Details about collections*@
@await Html.PartialAsync("CollectionsDetailsPartial")

@section Scripts {
    <script src="~/js/user-panel/library.js"></script>
    <script src="~/js/user-panel/bookDetails.js"></script>
    <script src="~/js/user-panel/collections.js"></script>
    <script src="~/js/user-panel/search.js"></script>
}
