<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">Admin Panel</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-group'></i>
                    <span class="links_name">Users</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-note'></i>
                    <span class="links_name">Notes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message-rounded'></i>
                    <span class="links_name">Feedback</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-bell'></i>
                    <span class="links_name">Notifications</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-export'></i>
                    <span class="links_name">Export Users</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Settings</span>
                </a>
            </li>
            <li class="log_out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Users</div>
                        <div class="number">0</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bxs-group users'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Notes</div>
                        <div class="number">0</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bxs-note users'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Notifications</div>
                        <div class="number">0</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bxs-bell users'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Verified Users</div>
                        <div class="number">0</div>
                        <div class="indicator">
                            <i class='bx bx-down-arrow-alt down'></i>
                            <span class="text">Down From Today</span>
                        </div>
                    </div>
                    <i class='bx bxs-user-check users'></i>
                </div>
            </div>

            <div class="statistics">
                <div class="verification-statistics box">
                    <div class="title">Verification Statistics</div>
                    @*Implement a UI for verification-based statistics*@
                </div>
                <div class="gender-statistics box">
                    <div class="title">Gender Statistics</div>
                    @*Implement a UI for Gender-based statistics*@
                </div>
            </div>
        </div>
    </section>
</body>
</html>