@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CreatedAt</th>
                <th>Verified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table rows will be dynamically populated here -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/admin-panel/users.js"></script>
    <script type="text/javascript">
        getUsers();
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin-css/users.css" />
}
