#book-content {
    text-decoration: none;
}

#book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 20px auto;
}

.book-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#book-image {
    width: auto;
    height: auto;
    margin: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

#book-title {
    margin-bottom: 0px;
}

#book-author {
    margin-bottom: 35px;
}

.book-info {
    margin-top: 25px;
}

.book-info p, h1 {
    margin-bottom: 8px;
    margin-left: 20px;
}

#book-content input[type="button"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

#book-content input[type="button"]:hover {
    background-color: #0056b3;
}

.book-info > button {
    background-color: #ff9800;
    color: #fff;
    border: none;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 30px;
    right: 22px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.close::before,
.close::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: black;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}
