.icon {
    display: flex;
    align-items: center;
}

.icon .account {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon .account img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
}

.icon .account h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    align-items: end;
}

.letter-filters > div {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-top: 25px;
}


