<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Web App (CRUD)</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <header>
        <h1>Web App for User Management</h1>
    </header>
    <div class="container">
        <section>
            <input id="userId" type="hidden" />

            <label for="FirstName">First Name</label>
            <input id="FirstName" type="text" />

            <label for="LastName">Last Name</label>
            <input id="LastName" type="text">

            <label for="userAge">Age</label>
            <input id="userAge" type="number" />

            <label for="Email">Email</label>
            <input id="Email" type="email" />


            <button id="saveBtn" class="btn">Save</button>

            <button id="resetBtn" class="btn" onclick="reset()">Reset</button>
        </section>

        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- JavaScript file for client-side functionality -->
    <script src="js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
      const saveBtn = document.getElementById("saveBtn");

      saveBtn.addEventListener("click", async () => {
        const id = document.getElementById("userId").value;

        if (!id) {
          // If no user ID is provided, create a new one
          await createUser();

        } else {
          // If user ID is provided, update an existing user
          await updateUser();
        }

        reset();
      });

      // Get all users on page load
      getUsers();
    </script>
</body>
</html>